.header-bg-img-1 {
    top: 0px;
    left: -3.5rem;
    z-index: -1;
    width: 205px;
    @include media-breakpoint-up(sm) {
        width: 290px;
    }
    @include media-breakpoint-up(md) {
        width: 400px;
    }
    @include media-breakpoint-up(lg) {
        width: 35rem;
    }
}

// banner blue bg circle
.blue-bg-circle {
    .header-bg-img-2 {
        z-index: -1;
        top: 0px;
        right: 0rem;
        width: 200px;
        @include media-breakpoint-up(sm) {
            width: 350px;
        }
        @include media-breakpoint-up(md) {
            width: 500px;
        }
        @include media-breakpoint-up(lg) {
            width: 750px;
        }
    }
}

.banner-heading {
    // height: 38vw;
    h1 {
        font-size: 40px;
        @include media-breakpoint-up(md) {
            font-size: 50px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 70px;
        }
    }
    p {
        // font-size: 1.5vw;
    }
}

// Banner Humans
.banner-humans {
    img {
        width: 300px;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}

// bubbles
.bubble-1 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: $site-blue;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.outlined-circle {
    right: 20px;
    top: 40px;
    max-width: 600px;
}

.home-services {
    margin-top: 5.5rem;
}

footer {
    min-height: 300px;
}

.z-index-2 {
    z-index: 2;
}