.button{
    background-image:linear-gradient( $lighter-primary,$primary);
    padding:0.6rem 3rem;
    color:$white;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    @include media-breakpoint-up(md) {
        font-size: 1.3rem;
        padding:0.8rem 3rem;
    }

    &--small{
      padding: 0.4rem 2rem;
    }
   
    &:hover{
        color:$white;
        background-image:linear-gradient( $darker-primary);
    }
     &--white{
      background-image:linear-gradient( #ffffff,#ffffff);
      color:$primary;
      &:hover{
        color:$primary;
      }
    }

}


.btn-grad {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
