.portfolio-list button {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 0;
    position: relative;
    color:$text-color;
    background: none;
    
}

.active{
    border-bottom: 3px solid $primary;
}

.hide {
  -webkit-animation: fadeOut 150ms ease;
          animation: fadeOut 150ms ease;
  opacity: 0;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  display: none;
}

